# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/
